In [1]:
import os
from scipy.io import loadmat
import numpy as np
from scipy import stats
import pandas as pd


import sys
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [2]:
#Variables et dimesionnalité
nb_AD = 28
nb_MCI = 22
nb_SCI = 22
Freqs= ['ALPHA', 'BETA', 'DELTA', 'THETA']
Seuils = [100, 70, 50, 30, 20, 10]
dataFolder = 'EpEn data/'

In [3]:
#Chargement des matricces des trois types des patients
x_AD = []
for i in range(1, nb_AD+1):
    x = {}
    for freq in Freqs:
        x[freq + '_100'] = loadmat(dataFolder + freq + '/' 
                                    + 'AD' + '/' 
                                    + str(i) + '.mat')[freq]
    x_AD.append(x)

x_MCI = []
for i in range(1, nb_MCI+1):
    x = {}
    for freq in Freqs:
        x[freq + '_100'] = loadmat(dataFolder + freq + '/' 
                                    + 'MCI' + '/' 
                                    + str(i) + '.mat')[freq]
    x_MCI.append(x)

x_SCI= []
for i in range(1, nb_SCI+1):
    x = {}
    for freq in Freqs:
        x[freq + '_100'] = loadmat(dataFolder + freq + '/' 
                                    + 'SCI' + '/' 
                                    + str(i) + '.mat')[freq]
    x_SCI.append(x)

In [4]:
#On étend les dictionaires aux 6 différents niveau de seuil
def get_percentile(x, seuil):
    y = x.copy()
    percentile_limit = np.percentile(x, 100 - seuil)
    y[y<percentile_limit] = 0
    return y


for i in range(nb_AD):
    for freq in Freqs:
        for seuil in Seuils:
            x_AD[i][freq+'_'+str(seuil)] = get_percentile(x_AD[i][str(freq)+'_100'], seuil)
            
for i in range(nb_MCI):
    for freq in Freqs:
        for seuil in Seuils:
            x_MCI[i][freq+'_'+str(seuil)] = get_percentile(x_MCI[i][str(freq)+'_100'], seuil)
            
for i in range(nb_SCI):
    for freq in Freqs:
        for seuil in Seuils:
            x_SCI[i][freq+'_'+str(seuil)] = get_percentile(x_SCI[i][str(freq)+'_100'], seuil)

In [5]:
def nb_connexions_electrode(array):
    connexions = []
    for i in range(array.shape[0]):
        connexion = 0
        for j in range(len(connexions)):
            if array[i, j]>0:
                connexion += 1
        connexions.append(connexion)
    return connexions


def variance_cdf(array):
    variance_list = []
    for i in range(array.shape[0]):
        cdf = np.cumsum(array[i, :])
        variance_list.append(np.var(cdf))
    return variance_list

In [6]:
Var=[]
for freq in Freqs:
    for seuil in Seuils:
        Var.append(freq+'_'+str(seuil))

### Séléction sur la base du nb de conx:

In [7]:
matrices_AD_nb_conx = {}
for var in Var:
    matrice=[]
    for i in range (len(x_AD)):
        t = nb_connexions_electrode(x_AD[i][var])
        matrice.append(t)
    matrices_AD_nb_conx[var]= matrice
    
matrices_MCI_nb_conx = {}
for var in Var:
    matrice=[]
    for i in range (len(x_MCI)):
        t = nb_connexions_electrode(x_MCI[i][var])
        matrice.append(t)
    matrices_MCI_nb_conx[var]= matrice
    

matrices_SCI_nb_conx = {}
for var in Var:
    matrice=[]
    for i in range (len(x_SCI)):
        t = nb_connexions_electrode(x_SCI[i][var])
        matrice.append(t)
    matrices_SCI_nb_conx[var]= matrice

In [8]:
Elec = ['Elec1', 'Elec2', 'Elec3', 'Elec4', 'Elec5', 'Elec6', 'Elec7', 'Elec8', 'Elec9', 'Elec10', 'Elec11', 'Elec12', 'Elec13', 'Elec14', 'Elec15', 'Elec16', 'Elec17', 'Elec18', 'Elec19', 'Elec20', 'Elec21', 'Elec22', 'Elec23', 'Elec24', 'Elec25', 'Elec26', 'Elec27', 'Elec28', 'Elec29', 'Elec30']

In [9]:
def dataframe_creator(array,names):
    x = pd.DataFrame(array,columns=names)
    return x

### Selection sur la base de la var cfd:

In [10]:
matrices_AD_Var = {}
for var in Var:
    matrice=[]
    for i in range (len(x_AD)):
        t = variance_cdf(x_AD[i][var])
        matrice.append(t)
    matrices_AD_Var[var]= matrice
    
matrices_MCI_Var = {}
for var in Var:
    matrice=[]
    for i in range (len(x_MCI)):
        t = variance_cdf(x_MCI[i][var])
        matrice.append(t)
    matrices_MCI_Var[var]= matrice
    

matrices_SCI_Var = {}
for var in Var:
    matrice=[]
    for i in range (len(x_SCI)):
        t = variance_cdf(x_SCI[i][var])
        matrice.append(t)
    matrices_SCI_Var[var]= matrice

### Chargement de la base de données  séléctionnées par la combinaison des deux extracteurs

In [11]:
data_sci_ad = pd.read_csv('datas_enrg/data_sci_ad_app2.csv',sep = ',',index_col=0)
data_ad_mci = pd.read_csv('datas_enrg/data_ad_mci_app2.csv',sep = ',',index_col=0)
data_sci_mci = pd.read_csv('datas_enrg/data_sci_mci_app2.csv',sep = ',',index_col=0)

In [12]:
AD_MCI_selected = data_ad_mci.columns
SCI_MCI_selected = data_sci_mci.columns
SCI_AD_selected = data_sci_ad.columns

In [13]:
def df_ad_mci():    
    data_frame_AD_MCI = pd.DataFrame()
    for i in AD_MCI_selected:
        extr,freq,seuil,elec = i.split('_')
        index = freq + '_' + seuil
        if(extr == 'var'):
            data_AD = dataframe_creator(matrices_AD_Var[index],Elec).add_prefix('var_' + index+'_')
            data_SCI = dataframe_creator(matrices_SCI_Var[index],Elec).add_prefix('var_'+ index+'_')
            data_MCI = dataframe_creator(matrices_MCI_Var[index],Elec).add_prefix('var_'+ index+'_')
        else:
            data_AD = dataframe_creator(matrices_AD_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            data_SCI = dataframe_creator(matrices_SCI_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            data_MCI = dataframe_creator(matrices_MCI_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            
        
        df_tmp = dataframe_creator(pd.concat([data_AD[extr + '_' + index +'_'+ elec],data_SCI[extr + '_' + index+'_'+elec],data_MCI[extr + '_' + index +'_'+ elec]]),[extr + '_' + index+'_'+elec])

        data_frame_AD_MCI = pd.concat([data_frame_AD_MCI,df_tmp],axis = 1)
    return(data_frame_AD_MCI)

#######################################################################################################
def df_sci_mci():    
    data_frame_SCI_MCI = pd.DataFrame()
    for i in SCI_MCI_selected:
        extr,freq,seuil,elec = i.split('_')
        index = freq + '_' + seuil
        if(extr == 'var'):
            data_AD = dataframe_creator(matrices_AD_Var[index],Elec).add_prefix('var_' + index+'_')
            data_SCI = dataframe_creator(matrices_SCI_Var[index],Elec).add_prefix('var_'+ index+'_')
            data_MCI = dataframe_creator(matrices_MCI_Var[index],Elec).add_prefix('var_'+ index+'_')
        else:
            data_AD = dataframe_creator(matrices_AD_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            data_SCI = dataframe_creator(matrices_SCI_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            data_MCI = dataframe_creator(matrices_MCI_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            
        
        df_tmp = dataframe_creator(pd.concat([data_AD[extr + '_' + index +'_'+ elec],data_SCI[extr + '_' + index+'_'+elec],data_MCI[extr + '_' + index +'_'+ elec]]),[extr + '_' + index+'_'+elec])

        data_frame_SCI_MCI = pd.concat([data_frame_SCI_MCI,df_tmp],axis = 1)
    return(data_frame_SCI_MCI)

#######################################################################################################
def df_sci_ad():
    data_frame_SCI_AD = pd.DataFrame()
    for i in SCI_AD_selected:
        extr,freq,seuil,elec = i.split('_')
        index = freq + '_' + seuil
        if(extr == 'var'):
            data_AD = dataframe_creator(matrices_AD_Var[index],Elec).add_prefix('var_' + index+'_')
            data_SCI = dataframe_creator(matrices_SCI_Var[index],Elec).add_prefix('var_'+ index+'_')
            data_MCI = dataframe_creator(matrices_MCI_Var[index],Elec).add_prefix('var_'+ index+'_')
        else:
            data_AD = dataframe_creator(matrices_AD_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            data_SCI = dataframe_creator(matrices_SCI_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            data_MCI = dataframe_creator(matrices_MCI_nb_conx[index],Elec).add_prefix('nbco_'+ index+'_')
            
        
        df_tmp = dataframe_creator(pd.concat([data_AD[extr + '_' + index +'_'+ elec],data_SCI[extr + '_' + index+'_'+elec],data_MCI[extr + '_' + index +'_'+ elec]]),[extr + '_' + index+'_'+elec])

        data_frame_SCI_AD = pd.concat([data_frame_SCI_AD,df_tmp],axis = 1)
    return(data_frame_SCI_AD)

In [14]:
df_sci_ad()

,nbco_DELTA_20_Elec27,var_DELTA_30_Elec27,nbco_DELTA_50_Elec27,nbco_ALPHA_50_Elec15,var_ALPHA_10_Elec11
0,4,1.232697,15,9,1.160498
1,4,1.946306,10,8,0.104853
2,7,4.035499,21,9,0.594769
3,1,0.167078,6,10,1.127153
4,6,4.118851,19,9,0.262241
...,...,...,...,...,...
17,13,9.755208,22,5,0.541508
18,11,12.463708,23,13,0.585493
19,4,0.344967,6,9,0.995207
20,3,4.202688,16,6,0.061654
21,2,0.091787,7,8,0.000000

In [15]:
df_ad_mci()

,nbco_BETA_30_Elec4,nbco_THETA_20_Elec5,nbco_DELTA_30_Elec15,var_BETA_50_Elec21,nbco_ALPHA_20_Elec8
0,1,2,3,7.481857,0
1,0,0,2,5.916788,3
2,2,0,1,4.810352,3
3,1,0,5,5.641336,1
4,1,0,1,7.917034,1
...,...,...,...,...,...
17,0,1,2,13.458321,1
18,0,4,3,11.404411,1
19,0,1,11,16.383122,2
20,0,0,1,14.138322,0
21,0,4,4,11.867552,0

In [16]:
df_sci_mci()

,var_THETA_100_Elec7,var_DELTA_100_Elec5,var_BETA_30_Elec30,var_ALPHA_20_Elec11,nbco_BETA_30_Elec29
0,28.490722,15.821524,0.923481,4.168060,7
1,27.781591,26.321997,2.134479,0.501223,13
2,29.157096,15.976625,2.272608,1.881494,7
3,27.129365,21.389998,3.321114,2.724715,12
4,25.895703,18.845747,6.599604,2.661411,12
...,...,...,...,...,...
17,25.476405,23.659218,5.327114,0.541508,11
18,27.943828,16.976357,5.649424,1.071973,13
19,26.276742,21.142882,5.360932,5.645392,12
20,27.263987,26.843963,8.107380,0.694949,16
21,25.625467,22.205381,5.526645,0.234416,13

In [17]:
data_frame_kmeans =  pd.concat([df_ad_mci(),df_sci_mci(),df_sci_ad()],axis = 1)

In [18]:
data_frame_kmeans = data_frame_kmeans.reset_index(drop=True)

### Normalisation de cette nouvelle DF

In [19]:
def centre_and_reduce(X):
    '''
    Centres an array by subtracting mean of column from each value
    :param X: X
    :type X: nparray
    :return: centre
    :rtype: nparray
    '''
    mean = np.mean(X,0)
    centered = X - mean

    stddev = np.std(X, 0)
    # centered_reduced = centered[:, None] / stddev
    centered_reduced = centered/ stddev
    return centered_reduced


data_frame_kmeans = centre_and_reduce(data_frame_kmeans)
data_frame_kmeans.columns

Index(['nbco_BETA_30_Elec4', 'nbco_THETA_20_Elec5', 'nbco_DELTA_30_Elec15',
       'var_BETA_50_Elec21', 'nbco_ALPHA_20_Elec8', 'var_THETA_100_Elec7',
       'var_DELTA_100_Elec5', 'var_BETA_30_Elec30', 'var_ALPHA_20_Elec11',
       'nbco_BETA_30_Elec29', 'nbco_DELTA_20_Elec27', 'var_DELTA_30_Elec27',
       'nbco_DELTA_50_Elec27', 'nbco_ALPHA_50_Elec15', 'var_ALPHA_10_Elec11'],
      dtype='object')

### Enregistrement de la data frame créee sous format csv

In [20]:
file_data_frame_kmeans = data_frame_kmeans.to_csv('datas_enrg/data_frame_kmeans.csv',index=True)